body {
  font-family: Arial, Helvetica, sans-serif;
}

.para {
  font-size: 30px;
  font-weight: bold;
}

.para.small-para {
  font-size: 19px;
}

#confirm-button {
  background-color: green;
  color: white;
  font-size: 24px;
}

#cancel-button {
  background-color: white;
  font-size: 24px;
}

div.text {
  font-size: 24px;
  font-weight: 100;
}

.text .child {
  font-size: 19px;
  font-weight: bold;
}
