@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  /* dont using like this. but use flex:1 that mean the main-content will take remaining space */
  /* justify-content: space-between; */
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.footer {
  background-color: #eee;
}

ul {
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #666;
}

.content {
  /* this will take remaining space */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eeeeee;
  padding: 8px;
}
input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
